@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
:root {
  --Darkcyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Verydarkblue: hsl(212, 21%, 14%);
  --Darkgrayishblue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
  --Fraunces: "Fraunces", sans-serif;
  --Montserrat: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}
body {
  background-color: var(--Cream);
  color: var(--Darkgrayishblue);
}
.container {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
}

img {
  display: block;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  -webkit-border-radius: 0.5rem 0.5rem 0 0;
  -moz-border-radius: 0.5rem 0.5rem 0 0;
  -ms-border-radius: 0.5rem 0.5rem 0 0;
  -o-border-radius: 0.5rem 0.5rem 0 0;
}
.imgdisc {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  justify-content: space-evenly;
  gap: 1rem;
  background-color: var(--White);
  border-radius: 0 0 0.5rem 0.5rem;
  -webkit-border-radius: 0 0 0.5rem 0.5rem;
  -moz-border-radius: 0 0 0.5rem 0.5rem;
  -ms-border-radius: 0 0 0.5rem 0.5rem;
  -o-border-radius: 0 0 0.5rem 0.5rem;
}
h1 {
  font-family: var(--Montserrat);
  font-weight: 500;
  font-size: 0.6rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
h2 {
  font-family: var(--Fraunces);
  font-weight: 600;
  font-size: 2rem;
  color: var(--Verydarkblue);
}
.imgdisc > p {
  font-family: var(--Montserrat);
  font-size: 1rem;
  line-height: 1.8;
}
.price {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.price p:first-child {
  font-family: var(--Fraunces);
  font-weight: 700;
  color: var(--Darkcyan);
  font-size: 1.5rem;
}
.price p:nth-child(2) {
  text-decoration: line-through;
  font-size: 0.8rem;
}
button {
  background-color: hsla(158, 36%, 37%, 0.8);
  color: var(--White);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  align-items: center;
}
button img {
  height: 1rem;
  width: 1rem;
}
button:hover {
  background-color: hsla(158, 36%, 37%, 1);
}

@media (min-width: 426px) and (max-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    display: flex;
    flex-direction: row;
    min-height: 70vh;
    width: 50vw;
  }

  img {
    height: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
    -webkit-border-radius: 0.5rem 0 0 0.5rem;
    -moz-border-radius: 0.5rem 0 0 0.5rem;
    -ms-border-radius: 0.5rem 0 0 0.5rem;
    -o-border-radius: 0.5rem 0 0 0.5rem;
  }
  .imgdisc {
    min-width: 50%;
    padding: 1.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
    -webkit-border-radius: 0 0.5rem 0.5rem 0;
    -moz-border-radius: 0 0.5rem 0.5rem 0;
    -ms-border-radius: 0 0.5rem 0.5rem 0;
    -o-border-radius: 0 0.5rem 0.5rem 0;
  }
  h1 {
    font-family: var(--Montserrat);
    font-weight: 500;
    font-size: 0.6rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }
  h2 {
    font-family: var(--Fraunces);
    font-weight: 600;
    font-size: 2rem;
    color: var(--Verydarkblue);
  }
  .imgdisc > p {
    font-family: var(--Montserrat);
    font-size: 0.6rem;
    line-height: 1.8;
  }
}
@media (min-width: 769px) and (max-width: 1440px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    display: flex;
    flex-direction: row;
    min-height: 50vh;
    width: 40vw;
  }
  .img {
    min-width: 50%;
  }
  img {
    height: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
    -webkit-border-radius: 0.5rem 0 0 0.5rem;
    -moz-border-radius: 0.5rem 0 0 0.5rem;
    -ms-border-radius: 0.5rem 0 0 0.5rem;
    -o-border-radius: 0.5rem 0 0 0.5rem;
  }
  .imgdisc {
    min-width: 50%;
    padding: 1.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
    -webkit-border-radius: 0 0.5rem 0.5rem 0;
    -moz-border-radius: 0 0.5rem 0.5rem 0;
    -ms-border-radius: 0 0.5rem 0.5rem 0;
    -o-border-radius: 0 0.5rem 0.5rem 0;
  }
  h1 {
    font-family: var(--Montserrat);
    font-weight: 500;
    font-size: 0.6rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }
  h2 {
    font-family: var(--Fraunces);
    font-weight: 600;
    font-size: 2rem;
    color: var(--Verydarkblue);
  }
  .imgdisc > p {
    font-family: var(--Montserrat);
    font-size: 1rem;
    line-height: 1.8;
  }
}
